/* белый цвет #FFFFFF */
/* основный цвет текста #757575 */
/* цвет заголовков #212121  */
/* цвет голубой #2196F3 */
/* фон белый #F5F5F5 */
/* фон серый #F5F4FA */
/* фон футера #2F303A */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-color: #ffffff;
  --logo-color: #000000;
  --background-color-button: #f5f4fa;
  --background-color-active-button: #188ce8;
  --background-color-footer: #2f303a;
  --background-color-hero: #2f303a;
  --icon-color: #afb1b8;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}
* *::before *::after {
  box-sizing: inherit;
}

.link {
  text-decoration: none;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--hero-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.not-padding-top {
  padding-top: 0;
}

/* header */
.page-header {
  border-top: 0;
  border-bottom: 1px solid #ececec;
  border-right: 0;
  border-left: 0;
}
.page-header-container {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--logo-color);
}

/* main-nav */
.menu-nav {
  display: flex;
  align-items: center;
}

/* menu-navigation */
.menu-navigation {
  display: flex;
  column-gap: 50px;
}
.menu-navigation .menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--transition-dur-and-func);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.menu-link.current {
  color: var(--accent-color);
}
.menu-item {
  position: relative;
}
.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* menu-contacts */
.menu-contacts {
  display: flex;
  column-gap: 50px;
  margin-left: auto;
  align-items: center;
}
.menu-contacts .menu-item {
  display: block;
}
.menu-contacts .contact-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  fill: currentColor;
  align-items: center;
  justify-content: center;
  transition: color var(--transition-dur-and-func);
}
.menu-contacts .icon {
  margin-right: 10px;
}
.menu-contacts .contact-link:hover,
.menu-contacts .contact-link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-color-hero);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/bg.jpg);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
}

/* button */

.modal-open-btn {
  border-radius: 4px;
  padding: 10px 32px;
  margin: 0 auto;
  min-width: 216px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-color);
  background-color: var(--accent-color);
  transition: background-color var(--transition-dur-and-func);
}
.modal-open-btn:hover,
.modal-open-btn:focus {
  background-color: var(--background-color-active-button);
}

/* featyres */
.featyres-list {
  display: flex;
  column-gap: 30px;
}
.featyres-list .item {
  width: 270px;
}
.box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-color-button);
  border-radius: 4px;
}
.featyres .featyres-title {
  color: var(--title-text-color);
}
.featyres-list-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.featyres-list .text {
  font-size: 14px;
  line-height: 1.71;
}

/* work */
.work-list {
  display: flex;
  column-gap: 30px;
}
.work-list .item {
  width: 370px;
}
.work-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
.work-list-wrapper {
  position: relative;
}
.work-list-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--hero-color);

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* Наша команда */
.section-team {
  background-color: var(--background-color-button);
}
.team-list {
  display: flex;
  column-gap: 30px;
}
.section-team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}
.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
.team-list .item {
  width: 270px;
  background-color: var(--hero-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.item-team {
  padding: 30px 15px;
}
.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--hero-color);
  transition: background-color var(--transition-dur-and-func);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}
.social-list-icon {
  fill: var(--icon-color);
  transition: fill var(--transition-dur-and-func);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--hero-color);
}
/* Client */
.section-client-title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
.section-client-list {
  display: flex;
  gap: 30px;
}
.section-client-item {
  width: 170px;
  height: 92px;
}
.client-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  fill: currentColor;
  transition: color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func);
}
.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* footer */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-footer);
}
.footer-logo .logo-web {
  color: var(--accent-color);
}
.footer-logo .logo-studio {
  color: var(--hero-color);
}
.page-footer .footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-contacts {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer-contacts-list .item {
  margin-top: 0;
  margin-bottom: 9px;
}
.footer-contacts-list .phone {
  margin-bottom: 0;
}

.footer-adress {
  color: var(--hero-color);
  transition: color var(--transition-dur-and-func);
}
.footer-contact-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-and-func);
}
.footer-adress:hover,
.footer-adress:focus {
  color: var(--accent-color);
}
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}
.page-container {
  margin-right: 70px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-color);
}
.footer-social-list {
  display: flex;
  column-gap: 10px;
}
.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--accent-color);
}
.footer-social-list-icon {
  fill: var(--hero-color);
}
.footer-form {
  margin-left: auto;
}
.footer-form-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-color);
}
.footer-form-field {
  display: flex;
  column-gap: 12px;
}
.footer-form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color-footer);
  min-width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--hero-color);
  transition: border-color var(--transition-dur-and-func);
}
.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.footer-form-btn-submit {
  min-width: 200px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  column-gap: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--hero-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-dur-and-func);
}
.footer-form-btn-submit:hover,
.footer-form-btn-submit:focus {
  background-color: var(--background-color-active-button);
  outline: none;
}

.footer-form-icon {
  fill: var(--hero-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Стили для портфолио */
.filter {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.secondary-btn {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--background-color-button);
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}
.secondary-btn:hover,
.secondary-btn:focus {
  color: var(--hero-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list .portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-title {
  margin-bottom: 4px;
}
.portfolio-list .text {
  font-size: 16px;
  line-height: 1.88;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-item {
  display: flex;
  width: 370px;
}
.portfolio-item .link {
  width: 100%;
  transition: box-shadow var(--transition-dur-and-func);
}
.portfolio-item .link:hover,
.portfolio-item .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--hero-color);
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}
.portfolio-item-link:hover .overlay,
.portfolio-item-link:focus .overlay {
  transform: translateY(0%);
}
.test-container {
  max-width: 370px;
  padding: 20px 24px;
  border-top: 0;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.test-container .text {
  color: var(--primary-text-color);
}
/* backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--hero-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--hero-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  transition: fill var(--transition-dur-and-func);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--accent-color);
}

/* modal-form */
.modal-form-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-label {
  margin-bottom: 10px;
}
.modal-form-desc {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: fill var(--transition-dur-and-func);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}
.modal-form-label-comment {
  margin-bottom: 20px;
}
.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  /* margin-bottom: 20px; */
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-check-field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.modal-form-check {
  position: absolute;
  appearance: none;
  transition: box-shadow var(--transition-dur-and-func);
}
.modal-form-own-checkbox {
  cursor: pointer;
  margin-right: 7px;
  border: 0.2px solid var(--title-text-color);
  border-radius: 2px;
}
.modal-form-own-checkbox-icon {
  display: none;
  fill: var(--hero-color);
}
.modal-form-check:checked + .modal-form-own-checkbox {
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
}
.modal-form-check:checked
  + .modal-form-own-checkbox
  .modal-form-own-checkbox-icon {
  display: block;
}
.modal-form-check:focus + .modal-form-own-checkbox {
  box-shadow: 0 0 0 1px var(--accent-color);
}
.modal-form-link {
  color: var(--accent-color);
}
.modal-form-sabmit {
  border-radius: 4px;
  padding: 10px 52px;
  margin: 0 auto;
  min-width: 200px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-color);
  background-color: var(--accent-color);
  transition: background-color var(--transition-dur-and-func);
}
.modal-form-sabmit:hover,
.modal-form-sabmit:focus {
  background-color: var(--background-color-active-button);
}
